body {
    font-family: 'Titillium Web', sans-serif;
    text-align: center;
    margin: auto;
}

.header {
    background-color: #87509c;
    color: #ffffff;
}

.header__top {
    display: flex;
    justify-content: space-between;
}

.header__content-description {
    font-size: 30px;
    margin-bottom: 0px;
    text-align: center;
    font-weight: bold;
}

.header__top-menu {
    margin-top: 40px;
}

.logo {
    margin-top: 45px;
    padding-left: 50px;
}


.menu__list {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    font-size: 16px;
    line-height: normal;
    margin: auto;
    padding: 10px 50px;
}

.menu__list-item {
    padding:5px;
    letter-spacing: 1px;
}

.menu__list--active {
    background-color: #643a79;
    padding-left: 10px;
    padding-right: 10px;
}

.menu__list--active:hover {
    background-color: #9c5bbc;
    box-shadow: 0px 5px 5px -5px #4b235f;
}

.menu__link {
    text-decoration: none;
    color: inherit;
}

.header__button-decor {
    border: none;
    border-radius: 5px;
    color: #ffffff;
    background-color: #eb7d4b;
    height: 50px;
    width: 250px;
    margin: 20px 0px 100px;
    box-shadow: 0 3px 0 0 rgba(200,106,64,36);
    letter-spacing: 1px;
}

.header__button-decor:hover {
    background-color: #f0b9a0;
    cursor: pointer;
    box-shadow: 0 3px 0 0 #f49368;
}

.services {
    background-color: #17c2a4;
    color: #ffffff;
}

.services__top-title {
    margin: 0px 0px 0px;
    text-align: center;
    padding-top: 50px;
    font-size: 30px;
    font-weight: 900;
    letter-spacing: 5px;
}

.services__top-description {
    font-size: 20px;
    margin: 15px 0px 70px;
}

.services__content {
    display: flex;
    justify-content: space-evenly;
}

.services__item {
    margin-left: 5px;
    margin-right: 5px;
}

.services__item-title {
    font-weight: bold;
    font-size: 20px;
    letter-spacing: 3px;
}

.services__item-description {
    margin-bottom: 0px;
    padding-bottom: 50px;
}

.team {
    background-color: #e7f1f8;
    color: #3c4761;
}

.team__top-title {
    margin: 0px 0px 0px;
    text-align: center;
    padding-top: 50px;
    font-size: 30px;
    font-weight: 900;
    letter-spacing: 5px;
}

.team__top-description {
    font-size: 20px;
    margin: 15px 0px 70px;
}

.members {
    display: flex;
    justify-content: space-evenly;
}

.members__title {
    font-weight: bold;
    font-size: 20px;
    letter-spacing: 3px;
    color: #000000;
    margin-bottom: 0px;
}

.members__position {
    color: #30bae7;
    font-weight: bold;
    margin: 5px 0px 50px;
}

.members__links-list {
    list-style: none;
    display: flex;
    justify-content: center;
}

.members__links-item {
    padding: 3px;
}

.skills {
    background-color: #ffffff;
    color: #3c4761;
}

.skills__title {
    margin: 0px 0px 0px;
    text-align: center;
    padding-top: 50px;
    font-size: 30px;
    font-weight: 900;
    letter-spacing: 5px;
}

.skills__content {
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 50px;
}

.diagram__title {
    font-weight: bold;
    font-size: 20px;
    letter-spacing: 3px;
}

.skills__description {
    font-size: 20px;
    margin: 15px 0px 70px;
}

.portfolio {
    background-color: #ffdd99;
    color: #393939;
}

.portfolio__head-description {
    font-size: 20px;
    margin: 15px 0px 20px;
}

.portfolio__head-title {
    margin: 0px 0px 0px;
    text-align: center;
    padding-top: 50px;
    font-size: 30px;
    font-weight: 900;
    letter-spacing: 5px;
}

.portfolio__blocks {
    display: flex;
    justify-content: space-evenly;
}

.portfolio__buttons {
    margin-bottom: 50px;
}

.portfolio__btn {
    border: none;
    border-radius: 5px;
    color: #393939;
    background-color: #ebc985;
    height: 30px;
    width: 85px;
    font-weight: bold;
}

.portfolio__btn:hover {
    cursor: pointer;
    background-color: #fae2b2;
}

.portfolio__btn--active:hover {
    background-color: #ffffff;
}

.portfolio__btn--active {
    background-color: #ffffff;
}

.portfolio__example-text {
    font-weight: bold;
}

.portfolio__button-decoration {
    border: none;
    border-radius: 5px;
    color: #ffffff;
    background-color: #17c2a4;
    height: 50px;
    width: 250px;
    margin: 20px 0px 100px;
    box-shadow: 0 3px 0 0 #14a58c;
    letter-spacing: 1px;
}

.portfolio__button-decoration:hover {
    background-color: #2fd4b7;
    cursor: pointer;
    box-shadow: 0 3px 0 0 #16b79b;
}

.testimonials {
    background-color: #d74680;
    color: #ffffff;
}

.testimonials__top-title {
    margin: 0px 0px 0px;
    text-align: center;
    padding-top: 50px;
    font-size: 30px;
    font-weight: 900;
    letter-spacing: 5px;
}

.testimonials__top-description {
    font-size: 20px;
    margin: 15px 0px 70px;
}

.testimonials__content-blocks {
    display: flex;
    justify-content: space-evenly;
    padding: 50px;
}

.testimonials__person {
    display: flex;
    justify-content: space-between;
}

.testimonials__person-images {
    padding: 20px;
}

.testimonials__text {
    text-align: left;
}

.testimonials__text-quote {
    font-style: italic;
}

.testimonials__text-name {
    margin: 20px 0px 3px;
    font-weight: bold;
    font-size: 17px;
    letter-spacing: 1px;
}

.testimonials__text-position {
    color: #f0ab8f;
    font-weight: bold;
    margin: 0px;
}

.contact {
    background-color: #3c5499;
    color: #ffffff;
}

.contact__top-title {
    margin: 0px 0px 0px;
    text-align: center;
    padding-top: 50px;
    font-size: 30px;
    font-weight: 900;
    letter-spacing: 5px;
}

.contact__top-description {
    font-size: 20px;
    margin: 15px 0px 70px;
}

.contact__form {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.contact__textarea {
    /*display: flex;*/
    justify-content: center;
}

.contact__form-input {
    margin: 0px 10px;
    display: block;
    justify-content: space-evenly;
    border: none;
    border-radius: 3px;
    background-color: #273a71;
    width: 200px;
    padding: 10px;
    outline: none;
    box-sizing: border-box;
    font-family: inherit;
    line-height: 1.5;
}

.contact__form-textarea {
    margin-bottom: 0.25rem;
    outline: none;
    border: none;
    border-radius: 3px;
    background-color: #273a71;
    height: 100px;
    width: 400px;
    padding: 10px;
    resize: none;
    font-family: inherit;
    line-height: 1.5;
}

::placeholder {
    color: #ffffff;
    font-size: 13px;
}

.contact__button-decorate {
    border: none;
    border-radius: 5px;
    color: #ffffff;
    background-color: #30bae7;
    height: 50px;
    width: 250px;
    margin: 20px 0px 100px;
    box-shadow: 0 3px 0 0 #299ec5;
    letter-spacing: 1px;
}

.contact__button-decorate:hover {
    background-color: #7ed9f6;
    cursor: pointer;
    box-shadow: 0 3px 0 0 #2fb2de;
}

.footer {
    background-color: #344b8e;
    color: #ffffff;
}

.footer__links-list {
    padding: 30px;
    margin: 0px 0px;
    list-style: none;
    display: flex;
    justify-content: center;
}

.footer__links-link {
    text-decoration: none;
    color: inherit;
    font-size: 20px;
    font-weight: 600;
    padding: 30px;
    letter-spacing: 1px;
}

.footer__links-link-active {
    color: #30bae7;
}