body {
    font-family: 'Titillium Web', sans-serif;
}

.header {
    background-color: #87509c;
    color: #ffffff;
}

.logo {
    display: inline-block;
}

.menu {
    display: inline-block;
}
.menu__list {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    font-size: 16px;
}

.menu__link {
    text-decoration: none;
}

.services {
    background-color: #17c2a4;
    color: #ffffff;
}

.team {
    background-color: #e7f1f8;
    color: #3c4761;
}

.skills {
    background-color: #ffffff;
    color: #3c4761;
}

.portfolio {
    background-color: #ffdd99;
    color: #393939;
}

.testimonials {
    background-color: #d74680;
    color: #ffffff;
}

.contact {
    background-color: #3c5499;
    color: #ffffff;
}

.footer {
    background-color: #344b8e;
    color: #ffffff;
}