.header {
    background-color: #643a79;
    color: #ffffff;
}

.services {
    background-color: #17c2a4;
    color: #ffffff;
}

.team {
    background-color: #e7f1f8;
    color: #3c4761;
}

.skills {
    background-color: #ffffff;
    color: #3c4761;
}

.portfolio {
    background-color: #ffdd99;
    color: #393939;
}

.testimonials {
    background-color: #d74680;
    color: #ffffff;
}

.contact {
    background-color: #3c5499;
    color: #ffffff;
}

.footer {
    background-color: #344b8e;
    color: #ffffff;
}